*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(189, 230, 255);
}

html {
    height: 100%;
    
}
.btn {
    background-color:#FFD3B0;
    /* outline: none; */
    /* border: none; */
    font-size: 24px;
    padding: 18px 28px;
    margin-bottom: 24px;
    border: 1px solid transparent;
    border-radius: 15px;
    transition: all .5s ease;
}
.btn:hover {
    background-color: #F8FFD2;
    color: #FF6969;
    transition: all .5s ease;

}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    border: 2px solid rgb(21, 0, 159);
    border-radius: 15px;
    flex-direction: column;
    transition: all .5s ease;
    background-color: #FFF9DE;
}
.card:hover {
    box-shadow: 0 18px 52px 12px rgb(79, 73, 73);
    transition: all .5s ease;


}
h1 {
    font-size: 45px;
    margin-bottom: 24px;
    text-shadow:  8px 8px 22px rgb(136, 136, 136) ;
}
